
#sportifyLabel {
    -fx-font-family: "Playball";
    -fx-text-fill: rgba(208, 213, 214, 0.4);
    -fx-font-size: 430;

}
.label{
    -fx-font-family: "Playball";
    -fx-font-size: 22;
}
.button{
    -fx-background-color: #FAF9F9;
    -fx-background-radius: 50;
    -fx-border-radius: 50;
    -fx-border-color: #212529;
    -fx-font-family: "Playball";
    -fx-font-size: 24;

}

.button:hover{
    -fx-cursor: hand;
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-scale-z: 1.1;
}

.button:pressed{

    -fx-rotate: 5;

}

#addCourtPopupLabel {
    -fx-font-family: "Playball";
    -fx-font-size: 18;
    -fx-text-fill: #212529;
    -fx-background-color: rgba(208, 213, 214, 0.4);
    -fx-background-radius: 25;
    -fx-border-radius: 25;
    -fx-opacity: 1;
}

.check-box{
    -fx-font-family: "Playball";
    -fx-font-size: 20;
}

#addCourt{
    -fx-border-radius: 50;
    -fx-border-color: #212529;
    -fx-background-color: #212529;
    -fx-background-radius: 50;
    -fx-cursor: hand;
}

#outputStateLabel{
    -fx-text-fill: green;
    -fx-opacity: 0;
}

