


#sportifyLabel{
    -fx-font-family: "Playball";
    -fx-text-fill: rgba(208, 213, 214, 0.4);
    -fx-font-size: 430;
}

#createYourMatchLabel{
    -fx-font-family: "Playball";
    -fx-text-fill: rgba(0, 0, 0, 0);
    -fx-font-size: 28;
}

.label{
    -fx-font-family: "Playball";
    -fx-text-fill: rgba(0, 0, 0, 1);
    -fx-font-size: 24;
}

#errorLabel{
    -fx-font-family: "Playball";
    -fx-text-fill: rgba(255,0,0,1);
    -fx-font-size: 28;
}

#welcomeMsgLabel{
    -fx-text-fill: #212529;
    -fx-font-size: 26;
}


.button{
    -fx-background-color: #FAF9F9;
    -fx-background-radius: 50;
    -fx-border-radius: 50;
    -fx-border-color: #212529;
    -fx-font-family: "Playball";
    -fx-font-size: 24;
}

.button:hover{
    -fx-cursor: hand;
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-scale-z: 1.1;
}

.button:pressed{

    -fx-rotate: 5;

}

#meanLabel{
    -fx-font-family: "Playball";
    -fx-text-fill: rgba(0, 0, 0, 1);
    -fx-font-size: 36;
}

#createMatchButton{
    -fx-border-radius: 50;
    -fx-border-color: #212529;
    -fx-background-color: #212529;
    -fx-background-radius: 50;
    -fx-cursor: hand;
}